<button class="twint-button">
    <span class="twint-button_icon_block">
        <img class="twint-button_icon"
             src="{{ twint_asset('/images/express.svg') }}"
             alt="{{ 'Express Checkout'|__trans }}">
    </span>
    <span class="twint-button_label">{{ 'TWINT Express Checkout'|__trans }}</span>
</button>