@use './variable' as vars;
@use './menu';
@use './table';
@use './modal';
@use './certificate';
@use './transaction';

@tailwind utilities;

.components-truncate.components-text {
  font-size: 1.3em !important;
}

.plugin-setting-list {
  li {
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    color: #000000;
    list-style-type: none;
    margin-bottom: 15px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-check' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M5 12l5 5l10 -10'%3E%3C/path%3E%3C/svg%3E");
      background-size: 14px;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: vars.$clr-success;
      border-radius: 100%;
    }
  }
}

ul#twint-cli-checks {
  list-style: none;
  padding: 0;
  li {
    padding: 10px;
    display: flex;
    align-items: center;

    &[data-status='passed'] {
      background: #e6f9e6;
      color: #2d7f2d;
      border-left: 5px solid #2d7f2d;
    }

    &[data-status='error'] {
      background: #fde8e8;
      color: #c0392b;
      border-left: 5px solid #c0392b;
    }
  }
}
