$alert-default-bg-color: #262626;
$alert-success-bg-color: #86ffab;
$text-color: #2b2d2f;
$icon-size-small: 30px;
$font-size: 15px;
$padding: 6px 15px;
$border-radius: 6px;

.alert {
  display: flex;
  align-items: center;
  gap: 10px;
  background: $alert-default-bg-color;
  padding: $padding;
  border-radius: $border-radius;
  font-size: $font-size;
  margin-bottom: 20px;
  color: $text-color;

  &.alert-success {
    background: $alert-success-bg-color;
  }

  .icon {
    display: flex;
    align-items: center;
  }
}