.twint.modal-inner-wrap {
    background-color: #f3f4f6;
    padding: 0 !important
}

@media all and (min-width: 1024px), print {
    .modal-popup._inner-scroll .modal-inner-wrap {
        margin-left: -400px;
        width: 800px;
        left: 50%
    }

    .d-lg-block {
        display: block !important;
    }
}

@media (min-width: 1024px) {
    .twint.modal-inner-wrap {
        width: 800px
    }
}

.twint header {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    padding-bottom: 0.5rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0.5rem
}

.twint-logo {
    height: 53px;
    width: 139px
}

.twint #twint-close {
    align-items: center;
    background-color: inherit;
    border: none;
    box-shadow: none !important;
    color: #262626;
    display: flex;
    font-weight: 400;
    vertical-align: middle;
    font-size: 16px;
}

.twint #twint-close svg {
    margin: 0 8px 0 0
}

.twint #twint-close span {
    box-shadow: none !important;
    display: inline-block
}

.twint #twint-close:focus, .twint #twint-close:hover {
    background-color: inherit;
    border: none;
    color: #262626;
    font-weight: 400
}

.twint-modal-slide {
    left: 0 !important
}

.twint #qr-token {
    border: none;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 41px;
    opacity: 1;
    text-align: center;
    text-transform: uppercase
}

.twint #twint-copy {
    color: #262626;
    font-size: 16px;
}

.twint #twint-copy.copied {
    color: rgb(34 197 94/var(--tw-text-opacity))
}

.twint-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0Ljg3NSAxLjU2MyA4IDguNDM4IDEuMTI1IDEuNTYxIiBzdHJva2U9IiMyNjI2MjYiIHN0cm9rZS13aWR0aD0iMiIvPjwvc3ZnPg==");
    background-position: right 1rem center;
    background-repeat: no-repeat;
    background-size: 1em;
    -moz-text-align-last: center;
    text-align-last: center
}

.twint-button {
    align-items: center;
    background-color: #262626 !important;
    border: none !important;
    border-radius: 6px;
    color: #fff !important;
    display: flex !important;
    height: 50px;
    justify-content: center;
    padding: 10px;
    transition: background-color .3s ease
}

.twint-button:disabled {
    background-color: #9e9e9e !important
}

.twint-button:hover {
    background-color: #3d3d3d !important
}

.twint-button .icon-block {
    border-radius: 4px;
    margin-right: 6px;
    padding: 4px
}

.twint-button:disabled .icon-block {
    background-color: #9e9e9e
}

.twint-button .twint-icon {
    height: 35px;
    width: 35px
}

.twint-button.box {
    font-size: inherit;
    height: auto;
    padding: 3px 10px
}

.twint-button.box .icon-block {
    height: 30px;
    padding: 1px
}

.twint-button.box .twint-icon {
    height: 30px;
    width: 30px
}

.twint-button span {
    color: #fff !important;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .43px;
    line-height: 19px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap
}

:has(+.twint-button) {
    margin-bottom: 0 !important
}

.actions-secondary:has(.twint-button) {
    width: 100%
}

.visible {
    visibility: visible
}

.sticky {
    position: sticky
}

.top-0 {
    top: 0
}

.order-1 {
    order: 1
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-2 {
    margin-bottom: .5rem;
    margin-top: .5rem
}

.my-3 {
    margin-bottom: .75rem;
    margin-top: .75rem
}

.my-4 {
    margin-bottom: 1rem;
    margin-top: 1rem
}

.my-6 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem
}

.mb-1 {
    margin-bottom: .25rem
}

.mr-4 {
    margin-right: 1rem
}

.mt-4 {
    margin-top: 1rem
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.h-55 {
    height: 55px
}

.h-64 {
    height: 64px
}

.w-3\/4 {
    width: 75%
}

.w-55 {
    width: 55px
}

.w-64 {
    width: 64px
}

.w-full {
    width: 100%
}

.max-w-screen-md {
    max-width: 768px
}

.flex-1 {
    flex: 1 1 0%
}

.flex-grow {
    flex-grow: 1
}

.appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}

.flex-col {
    flex-direction: column
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-1 {
    gap: .25rem
}

.gap-4 {
    gap: 1rem
}

.rounded-3xl {
    border-radius: 1.5rem
}

.rounded-lg {
    border-radius: .5rem;
}

.border-b-0 {
    border-bottom-width: 0
}

.border-t {
    border-top-width: 1px
}

.border-solid {
    border-style: solid
}

.border-none {
    border-style: none
}

.border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0/var(--tw-border-opacity))
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.border-green-500 {
    --tw-border-opacity: 1;
    border-color: rgb(34 197 94/var(--tw-border-opacity))
}

.\!bg-white {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 255 255/var(--tw-bg-opacity)) !important
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity))
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity));
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.p-0 {
    padding: 0
}

.p-4 {
    padding: 1rem;
}

.p-6 {
    padding: 1.5rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.text-center {
    text-align: center
}

.text-16 {
    font-size: 16px
}

.text-20 {
    font-size: 20px
}

.text-35 {
    font-size: 35px
}

.font-bold {
    font-weight: 700
}

.font-semibold {
    font-weight: 600
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.text-green-500 {
    --tw-text-opacity: 1;
    color: rgb(34 197 94/var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:border-inherit:hover {
    border-color: inherit;
}

.hover\:bg-gray-800:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55/var(--tw-bg-opacity))
}

.hover\:text-inherit:hover {
    color: inherit
}

.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.hover\:no-underline:hover {
    text-decoration-line: none
}

.hover\:shadow-none:hover {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.focus\:ring-0:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.focus\:ring-gray-600:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(75 85 99/var(--tw-ring-opacity))
}

.focus\:ring-opacity-75:focus {
    --tw-ring-opacity: 0.75
}

@media (min-width: 640px) {
    .sm\:grid-cols-2 {
        grid-template-columns:repeat(2, minmax(0, 1fr))
    }
}

@media (min-width: 768px) {
    .md\:order-1 {
        order: 1
    }

    .md\:order-none {
        order: 0
    }

    .md\:mt-6 {
        margin-top: 1.5rem
    }

    .md\:block {
        display: block
    }

    .md\:flex {
        display: flex
    }

    .md\:hidden {
        display: none
    }

    .md\:flex-row {
        flex-direction: row
    }

    .md\:flex-col-reverse {
        flex-direction: column-reverse
    }

    .md\:gap-4 {
        gap: 1rem
    }

    .md\:rounded-lg {
        border-radius: .5rem
    }

    .md\:p-4 {
        padding: 1rem;
    }
}


body._has-modal {
    height: 100%;
    overflow: hidden;
    width: 100%
}

.modals-overlay {
    z-index: 899
}

.modal-slide, .modal-popup {
    bottom: 0;
    left: 0;
    min-width: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s .3s, opacity .3s ease;
    transition: visibility 0s .3s, opacity .3s ease
}

.modal-popup::after {
    /* content: ""; */
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.modal-slide._show, .modal-popup._show {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.modal-slide._show .modal-inner-wrap, .modal-popup._show .modal-inner-wrap {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-slide .modal-inner-wrap, .modal-popup .modal-inner-wrap {
    /* background-color: #fff; */
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.35);
    opacity: 1;
    pointer-events: auto
}

.modal-slide {
    left: 44px;
    z-index: 900 !important;
}

.modal-slide._show .modal-inner-wrap {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.modal-slide .modal-inner-wrap {
    height: 100%;
    overflow-y: auto;
    position: static;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    width: auto
}

.modal-slide._inner-scroll .modal-inner-wrap {
    overflow-y: visible;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.modal-slide._inner-scroll .modal-header, .modal-slide._inner-scroll .modal-footer {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.modal-slide._inner-scroll .modal-content {
    overflow-y: auto
}

.modal-slide._inner-scroll .modal-footer {
    margin-top: auto
}

.modal-slide .modal-header, .modal-slide .modal-content, .modal-slide .modal-footer {
    padding: 0 2.6rem 2.6rem
}

.modal-slide .modal-header {
    padding-bottom: 2.1rem;
    padding-top: 2.1rem
}

.modal-popup {
    z-index: 900;
    left: 0;
    overflow-y: auto
}

.modal-popup.confirm .modal-inner-wrap {
    max-width: 50rem
}

.modal-popup._show .modal-inner-wrap {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.modal-popup .modal-inner-wrap {
    margin: 3rem auto;
    width: 75%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    -webkit-transition: -webkit-transform .2s ease;
    transition: transform .2s ease
}

.modal-popup._inner-scroll {
    overflow-y: visible
}

.ie11 .modal-popup._inner-scroll {
    overflow-y: auto
}

.modal-popup._inner-scroll .modal-inner-wrap {
    max-height: 90%;
    overflow-y: auto;
}

.ie11 .modal-popup._inner-scroll .modal-inner-wrap {
    max-height: none
}

.modal-popup._inner-scroll .modal-content {
    overflow-y: auto
}

.modal-popup .modal-header, .modal-popup .modal-content, .modal-popup .modal-footer {
    padding-left: 3rem;
    padding-right: 3rem
}

.modal-popup .modal-header, .modal-popup .modal-footer {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.modal-popup .modal-header {
    padding-bottom: 1.2rem;
    padding-top: 3rem
}

.modal-popup .modal-footer {
    margin-top: auto;
    padding-bottom: 3rem;
    padding-top: 3rem
}

.modal-popup .modal-footer-actions {
    text-align: right
}

.modal-custom .action-close, .modal-popup .action-close, .modal-slide .action-close {
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-shadow: none;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0
}

.modal-custom .action-close:focus, .modal-popup .action-close:focus, .modal-slide .action-close:focus, .modal-custom .action-close:active, .modal-popup .action-close:active, .modal-slide .action-close:active {
    background: none;
    border: none
}

.modal-custom .action-close:hover, .modal-popup .action-close:hover, .modal-slide .action-close:hover {
    background: none;
    border: none
}

.modal-custom .action-close.disabled, .modal-popup .action-close.disabled, .modal-slide .action-close.disabled, .modal-custom .action-close[disabled], .modal-popup .action-close[disabled], .modal-slide .action-close[disabled], fieldset[disabled] .modal-custom .action-close, fieldset[disabled] .modal-popup .action-close, fieldset[disabled] .modal-slide .action-close {
    pointer-events: none;
    opacity: .5
}

.modal-custom .action-close > span, .modal-popup .action-close > span, .modal-slide .action-close > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.modal-custom .action-close:before, .modal-popup .action-close:before, .modal-slide .action-close:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 14px;
    color: #757575;
    content: '\e616';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center
}

.modal-custom .action-close:hover:before, .modal-popup .action-close:hover:before, .modal-slide .action-close:hover:before {
    color: inherit
}

.modal-custom .action-close:active:before, .modal-popup .action-close:active:before, .modal-slide .action-close:active:before {
    color: inherit
}

.modal-custom .action-close:hover:before, .modal-popup .action-close:hover:before, .modal-slide .action-close:hover:before {
    color: #1a1a1a
}

.modal-custom .action-close {
    margin: 15px
}

.modal-popup {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.modal-popup .modal-title {
    border-bottom: 1px solid #c1c1c1;
    font-weight: 300;
    padding-bottom: 10px;
    font-size: 26px;
    margin-bottom: 0;
    min-height: 1em;
    word-wrap: break-word
}

.modal-popup .action-close {
    padding: 20px
}

.modal-slide .action-close {
    margin: 15px;
    padding: 0
}

.modal-slide .page-main-actions {
    margin-bottom: -12.9rem;
    margin-top: 2.1rem
}

.modals-overlay {
    background-color: rgba(51, 51, 51, 0.55);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0
}

body._has-modal-custom .modal-custom-overlay {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 899
}

/*# sourceMappingURL=twint.css.map */
.custom-select {
    position: relative;
}

select {
    /* appearance: none; */
    /*  safari  */
    /* -webkit-appearance: none; */
    /*  other styles for aesthetics */
    width: 100%;
    /* font-size: 1.15rem; */
    /* padding: 0.675em 6em 0.675em 1em; */
    /* background-color: #fff; */
    border: none;
    /* border-radius: 0.25rem; */
    /* color: #000; */
    /* cursor: pointer; */
    font-size: 20px;
    font-weight: 500;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    /* border-left: var(--size) solid transparent; */
    /* border-right: var(--size) solid transparent; */
    /* border-bottom: var(--size) solid black; */
    /* top: 40%; */
}

.custom-select::after {
    /* border-left: var(--size) solid transparent; */
    /* border-right: var(--size) solid transparent; */
    /* border-top: var(--size) solid black; */
    /* top: 55%; */
}

.twint-button {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    width: fit-content;
    height: 50px;
    background-color: #262626;
    text-decoration: none;
}

.twint-button:disabled {
    background-color: #9E9E9E
}

[data-bs-theme="dark"] .twint-button {
    background-color: #ffffff
}

[data-bs-theme="dark"] .twint-button:disabled {
    background-color: #CCCCCC
}

.twint-button .twint-button_icon_block {
    border-radius: 4px;
    margin-right: 6px;
    padding: 4px;
    display: flex;
    align-items: center;
}

[data-bs-theme="dark"] .twint-button .twint-button_icon_block {
    background-color: #262626
}

[data-bs-theme="dark"] .twint-button .twint-button_icon_block :disabled {
    background-color: #9E9E9E
}

.twint-button:disabled .twint-button_icon_block {
    background-color: #9E9E9E
}

.twint-button .twint-button_icon {
    width: 35px;
    height: 35px
}

.twint-button .twint-button_label {
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.43px;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

[data-bs-theme="dark"] .twint-button .twint-button_label {
    color: #262626
}

.qr-code-box {
    /* border: 1px solid hsla(0, 0%, 7%, .11); */
    border-radius: 12px;
    width: 100%;
    background: rgb(255 255 255) !important;
}

.qr-code-section > div {
    flex: 1 1 0;
}

.right-side-info.parent {
    display: flex;
    flex-direction: column;
}

.right-side-info .child {
    flex: 1;
    display: flex;
    align-items: center;
}

#btn-copy-token {
    padding: 10px !important;
    font-size: 19px;
}

#btn-copy-token:visited,
#btn-copy-token:focus {
    outline-style: unset;
    outline-width: unset;
    border: 1px solid rgb(0 0 0/var(--tw-border-opacity));
}

section.twint-qr-code-section {
    /* border: 1px solid hsla(0, 0%, 7%, .11); */
    margin-bottom: 10px;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 12px;
}

.twint-qr-container a.btn {
    text-decoration: none !important;
    width: 100%;
}

.twint-qr-container {
    font-size: 21px;
}

.twint-qr-container .order-price {
    margin: 0 auto;
}

.twint-qr-container .order-price .value {
    font-size: 24px;
}

.twint-qr-container .icon-twint {
    width: 55px
}

.twint-qr-container .qr-img {
    width: 300px
}

.twint-qr-container #qr-token {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 4px;
    color: black;
    border: none;
    opacity: 1;
    width: 95%
}

.twint-qr-container .amount {
    height: 100px
}

.twint-qr-container .amount .value {
    color: white;
    font-size: 37px;
    line-height: 36px
}

.twint-qr-container .bank-logo {
    height: 60px;
    width: 60px
}

.twint-qr-container .md-rounded {
    border-radius: 0.5rem
}

.twint-qr-container .order-price {
    color: #fff;
}

@media (max-width: 768px) {
    .twint-qr-container .md-rounded {
        border-radius: 0
    }
}

.twint-qr-container .rounded {
    border-radius: 0.375rem !important;
}

.twint-qr-container .text-align-last {
    text-align-last: center
}

.twint-qr-container .guide-icon {
    width: 40px;
    height: 40px
}

.twint-qr-container .separator {
    align-items: center;
}

div#logo-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin: 30px 0;
}

div#logo-container .item {
    flex: 0 0 33.3333%;
}

.twint-qr-container .separator::before, .twint-qr-container .separator::after {
    content: "";
    flex-grow: 1;
    border-bottom: 1px solid #CCCCCC;
}

.twint-qr-container .separator::before {
    margin-right: 10px
}

.twint-qr-container .separator::after {
    margin-left: 10px
}

@media (min-width: 768px) {
    .twint-qr-container .pl-md-3 {
        padding-left: 1rem
    }

    .d-lg-none {
        display: none !important;
    }
}

.twint-qr-container select {
    height: 60px
}

.twint-qr-container .copied {
    color: #28a745 !important;
    border: 1px solid #28a745 !important;
}

@media (max-width: 768px) {
    section.twint-qr-code-section {
        border: none;
        padding: 0;
        background-color: unset;
    }

    .content-main .twint-qr-container .sm-w-100 {
        padding-left: 0;
        padding-right: 0
    }

    .d-sm-none {
        display: none !important;
    }

    .sm-mb-1 {
        margin-bottom: 0.25rem !important
    }

    .twint-qr-container #qr-token {
        font-size: 35px !important;
    }

    .qr-code .copy-code-area {

    }

    .qr-code .help-text {
        margin: 20px 0;
    }
}

@media (min-width: 1200px) {
    .modal .twint-qr-container .modal-lg-12 {
        width: 100%
    }
}

.twint-qr-container .row-gap-1 {
    row-gap: 0.25rem
}

@media (min-width: 768px) {
    .twint-qr-container .row-gap-md-3 {
        row-gap: 1rem
    }
}

@media (max-width: 768px) {
    .generic .d-none.block, .generic .is-act-checkoutregisterpage .checkout .block.checkout-aside, .is-act-checkoutregisterpage .checkout .generic .block.checkout-aside {
        display: block !important
    }
}

@media (max-width: 768px) {
    .generic .d-none.flex, .generic .is-act-checkoutregisterpage .checkout .flex.checkout-aside, .is-act-checkoutregisterpage .checkout .generic .flex.checkout-aside {
        display: flex !important
    }
}

#twint-loading-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
    overflow: hidden
}

#twint-loading-popup.active {
    display: flex
}

#twint-loading-popup .loading-content {
    text-align: center;
    color: white
}

#twint-loading-popup .loading-content .loading-icon {
    width: 100px;
    height: 100px
}

#twint-loading-popup .loading-content .loading-text {
    font-size: 20px
}

#twint-loading-popup .loading-content .loading-text:after {
    margin-left: 10px;
    content: "...";
    animation: blink 1.5s steps(4, end) infinite
}

.twint-qr-container {
    font-size: 21px;
}

.twint-qr-container .icon-twint {
    width: 55px;
}

.twint-qr-container .qr-img {
    width: 300px;
    border-radius: 12px;
}

.twint-qr-container #qr-token {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 4px;
    color: black;
    border: none;
    opacity: 1;
    width: 95%;
}

.text-black {
    color: black !important;
}

.qr-code-instructions {
    margin-top: 40px;
}

.twint-qr-container .amount {
    height: 100px;
}

.twint-qr-container .amount .value {
    color: white;
    font-size: 37px;
    line-height: 36px;
}

.twint-qr-container .bank-logo {
    height: 60px;
    width: 60px;
}

.twint-qr-container .md-rounded {
    border-radius: 12px;
    height: 100%;
}

@media (max-width: 768px) {
    .twint-qr-container .md-rounded {
        border-radius: 0;
    }
}

.twint-qr-container .guide-icon {
    width: 40px;
    height: 40px;
}

.twint-qr-container .separator {
    align-items: center;
    margin: 10px 0;
}

.twint-qr-container .separator::before, .twint-qr-container .separator::after {
    content: '';
    flex-grow: 1;
    border-bottom: 1px solid #ccc;
}

.twint-qr-container .separator::before {
    margin-right: 10px;
}

.twint-qr-container .separator::after {
    margin-left: 10px;
}

@media (min-width: 768px) {
    .twint-qr-container .pl-md-3 {
        padding-left: 1rem;
    }

    .d-md-none {
        display: none !important
    }
}

.twint-qr-container select {
    height: 60px;
}

.twint-qr-container .copied {
    color: #28a745 !important;
}

@media (max-width: 768px) {
    .content-main .twint-qr-container .sm-w-100 {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1200px) {
    .modal .twint-qr-container .modal-lg-12 {
        width: 100%;
    }
}

.twint-qr-container .row-gap-1 {
    row-gap: 0.25rem;
}

@media (min-width: 768px) {
    .twint-qr-container .row-gap-md-3 {
        row-gap: 1rem;
    }
}

@media (max-width: 768px) {
    .modal-popup._inner-scroll .modal-inner-wrap {
        width: 100%;
        height: 100%;
        margin: 0;
        max-height: 100%;
        z-index: 999999999999;
        overflow: auto;
    }

    .modal-popup {
        pointer-events: auto;
    }

    .twint-qr-container {
        width: 100%;
    }

    .qr-code-section {
        display: block !important;
    }

    .qr-code-instructions {
        /*display: block !important;*/
    }

    .qr-code-box {
        margin-bottom: 10px;
    }

    .generic .d-none.block {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .generic .d-none.flex {
        display: flex !important;
    }
}
