<div class="notify-box notify-info">
    <div class="notify-box__content">
        <span>If you want to edit the settings for Regular Checkout, please visit the
            <a href="/wp-admin/admin.php?page=wc-settings&tab=checkout&section=twint_regular">Regular Checkout</a> to do so.</span>
    </div>
</div>
