<div class="d-flex justify-content-center">
    <div class="col-12 col-md-6 mb-4">
        <div class="d-flex flex-column align-items-center">
            <div class="d-flex justify-content-center">
                <img class="guide-icon"
                     src="#" alt="scan"/>
            </div>
            <div class="text-center mt-4">
                Scan this QR Code with your TWINT app to complete the checkout.
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="d-flex flex-column align-items-center">
            <div class="d-flex justify-content-center">
                <img class="guide-icon"
                     src="#"
                     alt="scan"/>
            </div>
            <div class="text-center mt-4">
                Select a shipping address and complete the purchase in the app.
            </div>
        </div>
    </div>
</div>
