<div class="qr-code-instructions d-flex justify-content-center p-4">
    <div class="d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center">
            <img class="guide-icon"
                 src="{{ twint_asset('/images/icon-scan.svg') }}" alt="scan"/>
        </div>
        <div class="text-center mt-4">
            {{ 'Scan this QR Code with your TWINT app to complete the checkout.'|__trans }}
        </div>
    </div>
</div>